 <%-include header %>

 <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/bin3.png"
                        class="center-block img-circle img-responsive ">
                        <h3 class="text-center">遠彬教練</h3>
                        <p class="text-center">教練</p>
                    </div>
                    <div class="col-md-6">
                        <a href="https://www.facebook.com/dudestwo?fref=ts"><img src="/images/LOGO.jpg"
                        class="center-block img-responsive img-rounded" width="300" height="300"></a>
						
						
                        <h3 class="text-center">2Dudes</h3>
                        <p class="text-center">開發</p>
                    </div>
                </div>
            </div>
        </div>
		
		
    <%- include footer %>