<%- include header %>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/bin1.png"
                        class="img-responsive " >
                        <h1 class="text-left">
                        <p>跟著彬哥的健身助手，享受你的揮汗快感。</p></h1>
						<ul>
<li>線上排課，和遠彬教練線上一對一討論適合你的最佳方案。</li>
<li>線下健身，跟著遠彬教練一起專注於你的練習。</li>
<li>持之以恆，跟著遠彬教練持續你的健身計畫，打造你的完美身型！

</ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 >遠彬教練 <small>健身的好夥伴!!</small></h1>
                        
                        <p>跟著遠彬教練一起改變自己，持之以恆有計劃的訓練，你也能擁有完美的體態!!</p>
                    </div>
                    <div class="col-md-6">
                        <a href="#"><img src="/images/bin2.png" class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </div>
 <div class="navbar navbar-default navbar-static-bottom ">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/contact">2Dudes © 2015 All Rights Reserved </a>
                </div>
                
                </div>
            </div>
        
    </body>

</html>