<%- include header %>
       
 <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header text-left">
                            <h1>註冊帳戶
                                <small>Subtext</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <form role="form" class="text-justify" method="post">
                            <div class="form-group">
                                <label class="control-label" for="Name">姓名</label>
                                <input class="form-control" name="name" placeholder="輸入姓名" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="Email">使用者E-mail</label>
                                <input class="form-control" name="email" placeholder="輸入e-mail"
                                type="email">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="Password">密碼</label>
                                <input class="form-control" name="password" placeholder="輸入Password"
                                type="password">
                            </div>
							<div class="form-group">
                                <label class="control-label" for="Password">確認密碼</label>
                                <input class="form-control" name="password-repeat" placeholder="輸入Password"
                                type="password">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="Phone">電話</label>
                                <input class="form-control" name="phone" placeholder="輸入電話" type="text">
                            </div>
                            <button type="submit" class="btn btn-default" id="submit">註冊</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 hidden-xs">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
		
 <%- include footer %>